@{
    ViewData["Title"] = "Hey there";
}
<h2>@ViewData["Title"]</h2>

<img /> 
<p>Hi, my name is Menzelle! I'm currently an intern at Code Smart. I created this app after my mentor (Chuck) encouraged me to expand on an existing Console application that 
    I designed to log my daily work activities. In the process of creating this application I learned a TON of new programming concepts. I became familiar with Entity Framework Core. 
    MVC and Razor Pages (like the page you're viewing)</p>
